{% extends 'portal/base.html' %}

{% block title %}Home{% endblock %}

{% block body %}
    <h2>Welcome To Eway Print</h2>
    <a href="{% url 'transactions:add' %}"><button class="btn btn-success">Add Transaction</button></a>

    <a href="{% url 'transactions:list' %}"><button class="btn btn-success">My Transactions</button></a>

    <a href="{% url 'wallets:wallet_view' %}"><button class="btn btn-success">My Wallet</button></a>

    <br><br><br>
    <a href="{% url 'portal:logout' %}"><button class="btn btn-danger">Logout</button></a>
{% endblock %}
