{% extends 'accounts/base.html' %}

{% block title %}Home{% endblock %}

{% block body %}
    <h2>Welcome To Eway Print</h2>

    <br><br><br>

        {% if user.is_authenticated %}
            <a href="{% url 'accounts:logout' %}"><button class="btn btn-danger">Logout</button></a>

            <a href="{% url 'accounts:password_change' %}"><button class="btn btn-info">Change Password</button></a>
        {% else %}
            <a href="{% url 'accounts:login' %}"><button class="btn btn-info">Login</button></a>


        {% endif %}
{% endblock %}
